.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  color: #fff;
}


.ant-layout {
  min-height: 100vh;
}


.ant-layout-sider {
  background: #001529; 
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}


.ant-layout-header {
  display: flex;
  align-items: center;
  padding: 0 16px;
  background: #001529; 
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  color: #fff; 
}

.ant-layout-content {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.ant-btn-text {
  color: rgba(255, 255, 255, 0.85); 
}

.ant-btn-text:hover {
  color: #1890ff;
}
